<div class="projects" id="main-projects">
	<div class="project">
		<a href="hope-fit" class="project-button" id="hope-fit">
			<%= image_tag "hope_fit_all_media.png", alt: "HopeFit", class: "all-media" %>
		</a>
		<a href="hope-fit">View HopeFit Project</a>
	</div>
	<div class="project">
		<a href="#" class="project-button" id="hope-fit">
			<%= image_tag "cornerstone_all_media.png", alt: "Cornerstone", class: "all-media" %>
		</a>
		<a href="#">View Cornerstone Project</a>
	</div>
</div>