<div class="project-description">
	<div class="overview">
		<%= image_tag "hope_fit/logo.png", alt: "HopeFit", class: "logo" %>
		<div class="text">
			<h1>HopeFit</h1>
			<p>In conjunction with the Hope College Kinesiology department...</p>
		</div>
	</div>
</div>